@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {

}

.card {
  border-radius: 5px;
  border: 2px solid black;
  height: 350px;
  width: 200px;
}

.card .number {
  position: absolute;
  font-size: 3rem
}
